.content {
    margin: 0 20px;
}

.content .newComment {
    margin-bottom: 7px;
    width: 70%;
}

.content .newComment textarea {
    width: 102%;
    height: 70px;
    resize: none;
}

.item {
    width: 100%;
}