.content {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.description {

}

.header {
    text-align: center;
    padding: 20px;
    font-size: large;
}

.rate {

}

.about {

}

.poster {
    margin: 20px;
}

.poster img {
    width: 200px;
    height: 300px;
}