.content {
    background-color: #E6EFC2;
    padding: 10px;
}

.item {
    padding: 10px;
    background-color: #A2D4AB;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    height: auto;
    width: 70%;
    display: grid;
    grid-template-areas:
        "a b"
        "a c";
    grid-template-rows: 50%;
    grid-template-columns: 10% 90%;
}

.item .img {
    grid-area: a;
}

.img img {
    width: 40px;
    height: 60px;
}

.item .name {
    grid-area: b;
}

.item .viewed {
    grid-area: c;
}

.content .currentPage {
    background-color: red;
}

.content .selectedPage {
    font-weight: bold;
}