.nav {
    grid-area: n;
    background-color: #3EACA8;
    padding: 20px;
}

.item {
    padding: 5px 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    background-color: #A2D4AB;
}