.content {
    background-color: #E6EFC2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a"
    "b";
}

.content .SearchForm {
    grid-template-areas: "c d";
    grid-template-columns: 3fr 2fr;
    display: grid;
    grid-area: a;
}

.content .SearchForm .SearchFormTextArea {
    grid-area: c;
    padding: 10px;
}

.content .SearchForm .SearchFormTextArea textarea{
    width: 98%;
    height: 20px;
    resize: none;
}

.content .SearchForm .SearchFormButton {
    padding: 10px;
    grid-area: d;
}


